---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
    {
    date: "October 2024 - Present",
    title: "Cloud Data Engineer",
    company: "SEIDOR Opentrends S.L.",
    description:
      "I developed different projects for the Cloud Data team, focusing on data analytics, data integration, and data governance on Google Cloud Platform for CaixaBank Tech.",
  },
  {
    date: "July 2024 - October 2024",
    title: "ALM Ops / DevOps",
    company: "SEIDOR Opentrends S.L.",
    description:
      "I helped the team in the implementation of the cloud infrastructure and the automation of the development and deployment processes for CaixaBank Tech.",
  },
  {
    date: "November 2023 - October 2024",
    title: "PMO Consultant",
    company: "SEIDOR Opentrends S.L.",
    description:
      "I worked as a consultant for a PMO (Project Management Office) to help them automate the generation of executive reports for CaixaBank Tech.",
  },
    {
    date: "April 2021 - July 2022",
    title: "Blockchain Developer",
    company: "Ilimit Comunications S.L.",
    description:
      "I lead the research, planning and development of a Blokchain prof-of-concept project, that ended up as a product with the name of MassCert.",
  },
    {
    date: "February 2016 - February 2017",
    title: "IT and Web Development",
    company: "A-Ser Reparapcs",
    description:
      "IT technician, responsible for the maintenance and improvement of computer systems and networks. I worked on various projects, including developing of websites, and system administration of an school.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
